body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 450px;
  background: #fff;
  margin: 16px auto;

}

.title {
  background: #e3f4ff;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 10px;
  border-top: 10px solid white;
  padding: 10px;

}

.content {
  background: #e3f4ff;
  margin: 10px;
  padding: 20px 10px;

}

.button-container {
  background: #e3f4ff;
  margin: 10px 10px;
  text-align: center;
  padding: 8px;
  border-bottom: 10px solid white;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 10px 20px;
  margin: 0px auto;